---
import Angular from "../icons/Angular.astro";
import Symfony from "../icons/Symfony.astro";
import ZK from "../icons/ZK.astro";
import Card from "../components/Card.astro";
const TAGS = {
    ANGULAR: {
        name: "",
        class: "bg-gray-800",
        icon: Angular,
    },
    SYMFONY: {
        name: "Symfony",
        class: "bg-gray-800 text-balck",
        icon: Symfony,
    },
    ZK: {
        name: "ZK",
        class: "bg-white text-black",
        icon: ZK,
    },


}
const PROJECTS = [
    {
        title: "Escuela de hostelería",
        description:
            "Web para la escuela de hostelería de la ciudad de Múrcia. Este proyecto se llevo a cabo para el proyecto final de grado. En el cual se integro una pasarela de pago para poder realizar reservas mediante tarjeta de credito con Stripe, una zona de administración privada para poder gestionar los dias los cuales se pueden reservas las horas las cuales se podrian realizar las reservas, los clientes y las reservas realizadas dando tambien la opcion de si una reserva queria ser cancelada y se habia pagado con tarjeta realizar la devolucion del dinero.",
        shortDescription: "Web para la escuela de hostelería de la ciudad de Múrcia. Incluye pasarela de pago con Stripe y zona de administración privada para gestionar reservas y clientes, con opción de cancelación y reembolso.",
        link: "",
        github: "",
        image: "projects/proyectoHosteleria.webp",
        altImage: "Fotografía de la web de la escuela de hostelería",
        tags: [TAGS.ANGULAR, TAGS.SYMFONY],
    }
]
---
<ul>
    {
        PROJECTS.map((item) =>
            (
                    <li>
                        <Card title={item.title} description={item.description} link={item.link} image={item.image}
                              altImage={item.altImage} github={item.github} tags={item.tags}
                              shortDescription={item.shortDescription}/>
                    </li>
            )
        )
    }
</ul>